# 数据预处理阶段
## 1.导入数据
导入手机信令数据

In [ ]:
import pandas as pd
import numpy as np
# 数据处理
#读取数据
#数据精简 随机不重复抽取10000行数据样本
data_ori = pd.read_excel('16_09_02-09_07.xls').sample(10000)

In [9]:
data_ori.head(5)

,IMSI,ACCESS_TIME,NE_CELL_ID,GRID_M,GRID_N,LONGITUDE,LATITUDE,ETL_TIME 离开时间,ROWID
16353,460030774648403,05-SEP-16 07.26.05.000000 AM,1089100507450400,399,669,118.753708,31.994789,08-OCT-16 11.30.21.000000 AM,AAAVeaABtAAAW+TAA0
9865,460030230025289,10-SEP-16 10.06.28.000000 PM,1089101222030600,413,655,118.768837,32.007332,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW90ABp
13689,460036120404784,05-SEP-16 07.22.39.000000 AM,1089100507380500,401,670,118.756027,31.994341,08-OCT-16 11.30.21.000000 AM,AAAVeaABtAAAW+GACD
239,460031270495755,05-SEP-16 07.25.41.000000 AM,1089100507400400,408,660,118.763229,32.003021,08-OCT-16 11.30.20.000000 AM,AAAVeaABtAAAW9HAAO
13403,460036511779482,10-SEP-16 10.09.03.000000 PM,1089101222220400,416,657,118.771828,32.005409,08-OCT-16 11.30.21.000000 AM,AAAVeaABtAAAW+FAA4

## 2.数据筛选
将限定时间范围内的数据筛选

In [ ]:
#筛选出ACCESS_TIME中包含'06-SEP-16'的数据
#将数据根据每个人ID排序
data = data_ori[data_ori['ACCESS_TIME'].str.contains('10-SEP-16')].sort_values(by='IMSI')

In [13]:
data.head(15)

,IMSI,ACCESS_TIME,NE_CELL_ID,GRID_M,GRID_N,LONGITUDE,LATITUDE,ETL_TIME 离开时间,ROWID
10089,460030084404532,10-SEP-16 10.04.14.000000 PM,1089101222010600,442,661,118.800018,32.002331,08-OCT-16 11.30.20.000000 AM,AAAVeaABtAAAW91AB2
13397,460030084404532,10-SEP-16 10.09.01.000000 PM,1089101222010600,442,661,118.800034,32.002060,08-OCT-16 11.30.21.000000 AM,AAAVeaABtAAAW+FAAy
6398,460030084404532,10-SEP-16 10.17.13.000000 PM,1089101222010600,442,661,118.799751,32.002110,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW9kAAM
11994,460030084404532,10-SEP-16 10.00.24.000000 PM,1089101222010600,442,661,118.800133,32.002300,08-OCT-16 11.30.20.000000 AM,AAAVeaABtAAAW9+AB9
13491,460030084404532,10-SEP-16 10.40.25.000000 PM,1089101222010600,443,661,118.800613,32.002350,08-OCT-16 11.30.21.000000 AM,AAAVeaABtAAAW+FACQ
5645,460030084404532,10-SEP-16 10.10.49.000000 PM,1089101222010600,442,661,118.799896,32.002239,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW9gABo
3090,460030084404532,10-SEP-16 10.10.00.000000 PM,1089101222010600,443,661,118.800484,32.002312,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW9UABQ
13141,460030084404532,10-SEP-16 10.03.44.000000 PM,1089101222010600,442,661,118.799942,32.002190,08-OCT-16 11.30.21.000000 AM,AAAVeaABtAAAW+EAAF
15970,460030084404532,10-SEP-16 10.36.55.000000 PM,1089101222010600,443,661,118.800568,32.002331,08-OCT-16 11.30.21.000000 AM,AAAVeaABtAAAW+RABb
4308,460030084404532,10-SEP-16 10.30.44.000000 PM,1089101222010600,442,661,118.800087,32.002232,08-OCT-16 11.30.20.000000 AM,AAAVeaABtAAAW9aAAh
3157,460030084404532,10-SEP-16 10.16.04.000000 PM,1089101222010600,443,661,118.800270,32.002201,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW9UACT
10986,460030084404532,10-SEP-16 10.01.44.000000 PM,1089101222010600,442,661,118.799751,32.002312,08-OCT-16 11.30.20.000000 AM,AAAVeaABtAAAW95ACr
3974,460030084404532,10-SEP-16 10.10.23.000000 PM,1089101222010600,442,661,118.800133,32.002110,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW9YAB5
11638,460030084404532,10-SEP-16 10.11.19.000000 PM,1089101222010600,443,661,118.800552,32.002319,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW98AC/
1724,460030084404532,10-SEP-16 10.03.51.000000 PM,1089101222010600,443,661,118.800217,32.002281,08-OCT-16 11.30.19.000000 AM,AAAVeaABtAAAW9NADA

## 3.数据清洗

In [5]:
#计算将仅出现一次的人剔除
#将重复值的INDEX提取出来
data_bool = data.duplicated(subset=['IMSI'])
rep = []
for i in range(len(data_bool)):
    if data_bool.iloc[i] == False:
        rep.append(i)
#记录OD
rep.append(3.1415926)
origin = []
dest = []
for i in range(len(rep)):
    #判断该用户是否存在多次信息收集，是则收集OD
    if rep[i] != 3.1415926:
        if rep[i]+1 < rep[i+1]:
            d = rep[i]
            #收集该用户的多段OD
            while (d < rep[i+1]):
                origin.append([data.iloc[d,0],data.iloc[d,5],data.iloc[d,6]])
                dest.append([data.iloc[d+1,5],data.iloc[d+1,6]])
                d += 1
    else:
        if rep[i-1] + 1 < len(data):
            d = rep[i-1]
            while (d < len(data)):
                origin.append([data.iloc[d,0],data.iloc[d,5],data.iloc[d,6]])
                dest.append([data.iloc[d+1,5],data.iloc[d+1,6]])
                d += 1

In [17]:
data_bool.head(15)

10089    False
13397     True
6398      True
11994     True
13491     True
5645      True
3090      True
13141     True
15970     True
4308      True
3157      True
10986     True
3974      True
11638     True
1724      True
dtype: bool

## 4.储存数据

In [11]:
start_frame = pd.DataFrame(origin,columns=['IMSI','o_longitude','o_latitude'])
end_frame = pd.DataFrame(dest,columns=['d_longitude','d_latitude'])
GPS_frame = pd.concat([start_frame,end_frame],axis=1)
GPS_frame.to_csv('trajectory_res.csv',index=False)

In [18]:
GPS_frame.head(15)

               IMSI  o_longitude  o_latitude  d_longitude  d_latitude
0   460030084404532   118.800018   32.002331   118.800034   32.002060
1   460030084404532   118.800034   32.002060   118.799751   32.002110
2   460030084404532   118.799751   32.002110   118.800133   32.002300
3   460030084404532   118.800133   32.002300   118.800613   32.002350
4   460030084404532   118.800613   32.002350   118.799896   32.002239
5   460030084404532   118.799896   32.002239   118.800484   32.002312
6   460030084404532   118.800484   32.002312   118.799942   32.002190
7   460030084404532   118.799942   32.002190   118.800568   32.002331
8   460030084404532   118.800568   32.002331   118.800087   32.002232
9   460030084404532   118.800087   32.002232   118.800270   32.002201
10  460030084404532   118.800270   32.002201   118.799751   32.002312
11  460030084404532   118.799751   32.002312   118.800133   32.002110
12  460030084404532   118.800133   32.002110   118.800552   32.002319
13  460030084404532   118.800552   32.002319   118.800217   32.002281
14  460030084404532   118.800217   32.002281   118.800621   32.002380